._51mq{margin-right:3px;vertical-align:-2.9px}
._5cl-{overflow:hidden}
._495i{padding:11px 10px 10px}
._8bb_ ._92bg{-webkit-filter:invert(1) hue-rotate(180deg)}
._63kv{color:#fff;display:inline-block;font-size:18px;font-weight:bold;height:40px;padding-left:12px;vertical-align:middle}
._2dig{background:rgba(0, 0, 0, .4);border-radius:2px;color:#fff;line-height:12px;padding:3px 6px;pointer-events:none;text-shadow:0 0 1px rgba(0, 0, 0, .5)}

#bootloader_ETiSA{height:42px;}.bootloader_ETiSA{display:block!important;}