$color-primary:white;
$font-family-primary:sans-serif;

$header-width:100%;
$header-height:7rem;

$banner-width:100%;
$banner-height:790px;

$main-width:100%;

$footer-width:100%;
$footer-background:black;
